.Rhistory
.Rproj.user/
.RData
.Rproj
data/
results/
renv/library/
renv/staging/
.DS_Store
*.rds
*.fst

/.quarto/

/.luarc.json

**/*.quarto_ipynb

scripts/figure4/node_modules/
scripts/figure4/package-lock.json
scripts/figure4/capture/
